/* for tablet resposive */

@media screen and (min-width: 601px) and (max-width : 992px) {
    /* menu section */
    .menu-bar{
        display: none;
    }

    .bar-icon{
        display: block;
    }

}









                    /* for mobile responsive */
 
@media  screen  and (max-width : 600px) {

    .menu-bar{
        display: none;
    }

    .bar-icon{
        display: block;
    }

    /* banner section */

   

    .banner-heading{
        padding: 0px 20px;
    }
    
    .banner-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 20px 20px;
        padding: 20px 20px;
        gap: 20px;
    }

     /* tour popularity part */

    .tour-popularity{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    /* destination part */

        .row{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .row-content img, .destination-title , .choose-title
        {
            width: 100%;
        }


        /* discount part */

        .choose-info{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            max-width: 100%;
           
            
        }

        .hotel-cart, .service-cart{
            max-width: 100%;
        }

       

        .discount-cart-overflow{
            margin-left: 0;
            width: 87%;
        }

        /* statistics part */

        .statistics-info{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
        }

        /* sign up section */

        .sign-up{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            max-width: 100%;
        }

       .signup-field{
        max-width: 100%;
       }

       .off-img img{
        width: 100%;
       }

       .signup-coupon{
        top: 170px;
        left: 220px;
       }

       
       /* foooter part */
       footer{
        max-width: 100%;
       }
       

       .footer-tex, .footer-description{
        max-width: 100%;
       }

       
    
}


                




           




        









